[Unit]
Description=Memory Game

[Service]
Type=simple
User=hw04user
Group=hw04user
Restart=on-failure
Environment=MIX_ENV=prod "PORT=4791"
Environment=LANG=en_US.UTF-8

WorkingDirectory=/home/hw04user/webdevHW04/memory/
ExecStart=/bin/bash /home/hw04user/webdevHW04/memory/start.sh

[Install]
WantedBy=multi-user.target
